In [1]:
import numpy as np
import pandas as pd

In [13]:
# products.csv 파일을 불러오세요.
df = pd.read_csv('quiz/products.csv')
# print(df)

# 상품명을 인덱스로 설정하세요.
df = df.set_index('상품명')

# 모든 상품명을 출력하세요.
df.index

# 첫 번째 상품(사과)의 가격을 출력하세요.
df.loc['사과','가격']

# 바나나의 재고를 출력하세요.
df.loc['바나나','재고']

# 포도의 가격을 4500으로 수정하세요.
df.loc['포도','가격'] = 4500
df

# 딸기의 재고를 10으로 수정하세요.
df.loc['딸기','재고'] = 10
df

       가격  재고
상품명
사과   3000  10
바나나  2000  20
포도   4500  15
딸기   5000  10

   상품명    가격  재고
0   사과  3000  10
1  바나나  2000  20
2   포도  4000  15
3   딸기  5000   8

In [45]:
# sales.csv 파일을 불러오세요.
df = pd.read_csv('quiz/sales.csv',encoding='euc-kr')
print(df.index)
print(df.columns)
df

# month를 인덱스로 설정하세요.
df = df.set_index('month')
df

# sales 컬럼 전체를 출력하세요.
df['sales']

# 2월의 모든 데이터를 출력하세요.
df.loc['2월']

# 이윤의 합계와 평균을 구하세요. (1400, 350)
df['profit']
print(df['profit'].sum())
print(df['profit'].mean())

# 이윤이 300이상인 행만 출력하세요.
df[df['profit'] >= 300]

RangeIndex(start=0, stop=4, step=1)
Index(['month', 'sales', 'profit'], dtype='object')
1400
350.0

       sales  profit
month
2월      1500     300
3월      2000     400
4월      2500     500

In [65]:
# weather.csv 파일을 불러오세요.
df = pd.read_csv('quiz/weather.csv',encoding='euc-kr')

df = df.set_index('city')

# 각 도시의 봄 기온(spring)을 모두 출력하세요.
df['spring']

# 서울의 모든 데이터를 출력하세요.
df.loc['서울']

# 겨울(winter)의 평균 기온을 구하세요.
df['winter']
int(df['winter'].mean())


# 여름 기온(summer)이 28도 이상인 도시만 출력하세요
df[df['summer'] >= 28]

      spring  summer  winter
city
서울        15      28       2
부산        17      29       5
대구        18      30       1

In [85]:
# products.json 파일을 불러오세요.
df = pd.read_json('quiz/products.json')
# df

# 모든 상품명을 출력하세요.
df = df.set_index('상품명')
df.index

# 가격이 3000원 이상인 상품만 출력하세요.
df[df['가격'] >= 3000]

# 평균 가격을 구하세요.
# 새로운 컬럼 총액(가격*재고)을 추가하세요.
print(df['가격'] * df['재고'])
# 딸기의 가격을 6000으로 수정하세요.
df.loc['딸기'] = 6000
# df
# 재고 컬럼을 삭제하세요.
del df['재고']
df

상품명
사과     30000
바나나    40000
포도     60000
딸기     40000
dtype: int64

       가격
상품명
사과   3000
바나나  2000
포도   4000
딸기   6000

In [126]:
# books.json 파일을 불러오세요.
df = pd.read_json('quiz/books.json')

# 책 제목을 인덱스로 설정하세요.
df = df.set_index('제목')

# 가격이 20000원 이상인 책만 출력하세요.
df [df['가격'] >= 20000]

# 대출가능권수가 2권 이하인 책을 출력하세요.
df[df['대출가능권수'] <= 2]

# 가격이 비싼 순으로 정렬하여 출력하세요.
df.sort_values('가격', ascending=False)

# 대출가능권수가 많은 순으로 정렬하여 출력하세요.
df.sort_values('대출가능권수', ascending=False)

# 전체 평균 가격을 구하세요.
int(df['가격'].mean())

23000

In [150]:
# 공공 데이터 포털에서 인천 정류장별 이용승객 현황을 검색하세요.
# csv 파일을 다운받고, 파이썬 프로그램으로 불러오세요.
df = pd.read_csv('sample/인천광역시_정류장별 이용승객 현황_20250731.csv', encoding='euc-kr')
# df
# df.index
# df.columns

# 총승차건수가 10만 이상인 정류장을 출력하세요.
df[df['총승차건수'] >= 100000]

# 총하차건수가 0건인 정류장을 출력하세요.
df[df['총하차건수'] == 0]

# 승차건수(현금)이 100건 이상인 정류장을 출력하세요.
df[df['승차건수(현금)'] >= 100]

# 승차건수(현금)이 승차건수(카드)보다 많은 정류장을 출력하세요.
df[df['승차건수(현금)'] > df['승차건수(카드)']]

         정류소명  정류소아이디  총승차건수  총하차건수  승차건수(카드)  하차건수(카드)  승차건수(현금)  일평균승하차건수
917   국화리야영장앞   43843      1     52         0        52         1         1
2942   상용진료소앞   90004      2     69         0        69         2         2
5149    인화성입구   90063      2     24         0        24         2         0

In [ ]:
# 9/17 수업예정

In [146]:
# 공공 데이터 포털에서 인천광역시 중구 공영주차장을 검색하세요.
# csv 파일을 다운받고, 파이썬 프로그램으로 불러오세요.
df = pd.read_csv('sample/인천광역시 중구_공영주차장 현황_20250601.csv', encoding='utf-8')
df

# 주차구획수(주차 가능한 차량 대수)가 100대 이상인 주차장을 모두 출력하세요.
# df[df = ['주차구획수'] >= 100]

# 평일운영종료시각이 21:00인, 주차장을 출력하세요.


# 요금정보가 무료인 주차장을 모두 출력하세요.


# 모든 주차장의 주차구획수 합계를 구하고, 평균도 구하세요.

,주차장관리번호,주차장명,주차장구분,주차장유형,소재지도로명주소,소재지지번주소,주차구획수,급지구분,부제시행구분,운영요일,...,1일주차권요금,월정기권요금,결제방법,특기사항,관리기관명,전화번호,위도,경도,장애인전용주차구역보유여부,데이터기준일자
0,161-2-000169,을왕리 공영주차장,공영,노외,인천광역시 중구 용유서로 297-3,인천광역시 중구 을왕동 711-3,138,3,요일제,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.444765,126.376048,Y,2025-06-01
1,161-2-000170,왕산 공영주차장,공영,노외,인천광역시 중구 용유서로423번길 4,인천광역시 중구 을왕동 776-14,186,3,요일제,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.455910,126.371510,Y,2025-06-01
2,161-2-000171,무의(광명항) 공영주차장,공영,노외,NaN,인천광역시 중구 무의동 50-18,180,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7797,37.379153,126.432902,Y,2025-06-01
3,161-1-000172,영종역일원(노상) 공영주차장,공영,노상,NaN,인천광역시 중구 운북동 464,103,3,요일제,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.510818,126.524106,Y,2025-06-01
4,161-1-000173,공항신도시 공영주차장,공영,노상,NaN,인천광역시 중구 운서동 2818,224,2,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.494289,126.481847,Y,2025-06-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,161-1-000011,신포로35번길제3노상주차장,공영,노상,인천광역시 중구 신포로39번길 15(송학동3가),인천광역시 중구 송학동3가 7-13,3,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.472493,126.625052,N,2025-06-01
166,161-1-000012,신포로노상주차장,공영,노상,인천광역시 중구 송학로 42(내동),인천광역시 중구 내동 2-26,10,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.474643,126.627076,N,2025-06-01
167,161-1-000013,신포로35번길제4노상주차장,공영,노상,"인천광역시 중구 신포로35번길 54(송학동2가, 동국빌리지)",인천광역시 중구 송학동2가 16,19,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.473292,126.623605,N,2025-06-01
168,161-1-000014,신포로23번길제2노상주차장,공영,노상,인천광역시 중구 신포로23번길 52(중앙동3가),인천광역시 중구 중앙동3가 3-13,23,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.472488,126.622474,N,2025-06-01
169,161-1-000015,신포로15번길제2노상주차장,공영,노상,인천광역시 중구 신포로23번길 52(중앙동3가),인천광역시 중구 중앙동3가 3-13,22,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.472488,126.622474,N,2025-06-01