In [2]:
# 데이터 불러오기와 간단한 분석까지
import numpy as np
import pandas as pd

In [ ]:
# 파일 다루기
# csv, json

In [ ]:
# csv 파일 불러오기

In [6]:
# 판다스를 사용해서 csv 파일 불러오기
# read_csv(파일의 경로)
# 상대경로 / 절대경로
# 현재 나의 위치: python-data-study
# 찾고자 하는 파일: sample1.csv
# read_csv 는 csv 파일을 읽어서 데이터 프레임으로 반환
df = pd.read_csv('sample/sample1.csv') # 상대 경로
print(df)
# 읽어온 데이터 속성 확인
# 행열 이름 확인
print(df.index)
df.columns
# 행 인덱스: 자동으로 정수 인덱스가 설정됨
# 열 컬럼: 자동으로 첫번째 행이 컬럼으로 설정됨

# 행 인덱스 바꾸기
# 학번을 인덱스로 설정
df.set_index('student_id')

   student_id  math  eng  kor
0         101    80   95   88
1         102    92   85   90
2         103    75   80   66
RangeIndex(start=0, stop=3, step=1)

            math  eng  kor
student_id
101           80   95   88
102           92   85   90
103           75   80   66

In [23]:
# sample 폴더 아래 2번째 csv 파일 불러오기
# 파일에 한글이 포함되어 있으면 한글을 지원하는 인코딩 설정
# 한글을 지원하는 인코딩: utf-8, euc-kr
df = pd.read_csv('sample/sample2.csv',encoding='euc-kr')
df
# 나중에 데이터를 쉽게 조회/수정/삭제 하기 위해
# 상품명을 행 인덱스로 설정
df = df.set_index('상품명')

print(df.index)
print(df.columns)

# 다시 2번째 csv 파일 불러오기
df = pd.read_csv('sample/sample2.csv',encoding='euc-kr')
df

df.index = df['상품명']

Index(['노트북', '키보드', '마우스'], dtype='object', name='상품명')
Index(['가격', '재고'], dtype='object')

In [25]:
# json 파일 불러오기
import json
# 파이썬 방식으로 파일 열기
f = open('sample/sample3.json','r')
# json 모듈로 파일을 딕셔너리로 변환
dic = json.load(f)
dic

{'id': 101, 'name': 'alice', 'age': 30}

In [37]:
# 파이썬 방식으로 파일 불러오기
f = open('sample/sample4.json','r', encoding='utf-8')

dic = json.load(f)
dic

# 딕셔너리에서 키와 값 꺼내기
for key, value in dic.items():
    print(key, value)

# dict_items([('name': '홍길동'), ('age': 25), ('city': '서울')])

name 홍길동
age 25
city 서울

In [44]:
# CSV 파일 불러오기
f = open('sample/sample5.json','r', encoding='utf-8')
dic = json.load(f)
dic

[{'name': '홍길동', 'age': 25, 'city': '서울'},
 {'name': '김철수', 'age': 30, 'city': '부산'}]

In [47]:
# 판다스를 사용해서 dataframe 으로 변환
df = pd.read_json('sample/sample5.json')
df

# 데이터 프레임의 행열 이름
print(df.index)
print(df.columns)

df.loc[1]

RangeIndex(start=0, stop=2, step=1)
Index(['name', 'age', 'city'], dtype='object')

name    김철수
age      30
city     부산
Name: 1, dtype: object

In [ ]:
# 데이터베이스 연결하기

In [72]:
import sqlite3

In [ ]:
# mydata.sqlite 라는 이름으로 데이터베이스 생성 또는 연결
con = sqlite3.connect("mydata.sqlite")

# 테이블 생성 쿼리
# con.execute("CREATE TABLE student (id INTEGER, name TEXT, age INTEGER)")

# 데이터 추가
# con.execute("INSERT INTO student VALUES (1, '홍길동', 25)")
# con.execute("INSERT INTO student VALUES (2, '김철수', 30)")
# con.commit()

In [68]:
# SELECT 실행
cur = con.execute("SELECT * FROM student")

# 결과 가져오기
rows = cur.fetchall()
# 튜플이 담긴 리스트
rows
# 출력
for row in rows:
    print(row)

In [76]:
# SELECT 실행 (특정 id=1 학생만 조회)
cur = con.execute("SELECT * FROM student WHERE id = 1")

# 단건 가져오기
row = cur.fetchone()

# 출력
row

In [96]:
# CSV 파일 읽기
df = pd.read_csv('sample/OBS_ASOS_TIM_20250916161214.csv', encoding='euc-kr')
# df.columns
df

     지점 지점명                일시    기온  습도
0   112  인천   2025-09-14 1:00  22.2  84
1   112  인천   2025-09-14 2:00  21.8  86
2   112  인천   2025-09-14 3:00  21.7  87
3   112  인천   2025-09-14 4:00  21.4  87
4   112  인천   2025-09-14 5:00  21.2  87
5   112  인천   2025-09-14 6:00  21.2  87
6   112  인천   2025-09-14 7:00  21.3  87
7   112  인천   2025-09-14 8:00  22.3  86
8   112  인천   2025-09-14 9:00  22.9  85
9   112  인천  2025-09-14 10:00  23.8  82
10  112  인천  2025-09-14 11:00  24.6  79
11  112  인천  2025-09-14 12:00  25.9  71
12  112  인천  2025-09-14 13:00  26.9  64
13  112  인천  2025-09-14 14:00  27.4  61
14  112  인천  2025-09-14 15:00  27.7  65
15  112  인천  2025-09-14 16:00  27.4  70
16  112  인천  2025-09-14 17:00  27.0  68
17  112  인천  2025-09-14 18:00  26.4  70
18  112  인천  2025-09-14 19:00  25.2  73
19  112  인천  2025-09-14 20:00  24.7  78
20  112  인천  2025-09-14 21:00  24.5  82
21  112  인천  2025-09-14 22:00  24.2  85
22  112  인천  2025-09-14 23:00  23.9  84
23  112  인천   2025-09-15 0:00  23.7  84

In [ ]:
# 하루 평균 기온과 습도 구하기

In [92]:
# 기온
avg1 = int(df['기온'].mean())
avg2 = int(df['습도'].mean())
print(f'9/14 평균 기온: {avg1}(℃)')
print(f'9/14 평균 습도: {avg2}(%)')

9/14 평균 기온: 24(℃)
9/14 평균 습도: 78(%)

In [ ]:
# 하루중에 제일 더웠던 시간은?

In [105]:
# idxmax: 가장 큰값이 포함되어 있는 행의 위치
i = df['기온'].idxmax()
df.loc[i, '일시']

'2025-09-14 15:00'